body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

#title-main{
  min-height: 120px;
  display: flex
}
#title-searches{
  /* justify-content: flex-start; */
  float: left;
  /* width:140%; */
  width:85%
}
#title-search{
  display: inline-block;
  width: 15%;

}
#searchbar{
  /* float: right; */
  margin-top: 8px;
  margin-left:10%;
  padding: 0;
  height: 30px;
  font-size: 25px;
  width: 80%;
/* the search bar is not in a relative position to the left, and will change depending on display size.
what also needs to be fixed are the location of the register and sign in button locations */
}

.site-title {
  white-space: nowrap;
  margin: 0;
  padding: 10px 20px;
  padding-top: 45px;
  font-size: 30px;
  font-weight: 100;
  background-color: #319df6;
  color: #fff;
  height: 65px;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #319df6;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}



#signin-button {
  margin-left: 0px;
  margin-right: 40px;
  margin-top: 15px;
  float: right;
  position: inline-block;
  right: 27px;
  bottom: 30px;
  height: 38px;
  width: 110px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#signin-button:hover,
#signin-button:focus {
  right: 27px;
  bottom: 30px;
  height: 38px;
  width: 110px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 22px;
  background-color: blue;
}

#register-button {
    margin-top: 15px;
  /* margin-left: 10px; */
  margin-right: 35px;
  float: right;
  position: inline-block;
  right: 27px;
  bottom: 30px;
  height: 38px;
  width: 110px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#register-button:hover,
#register-button:focus {
    margin-top: 15px;
  right: 27px;
  bottom: 30px;
  height: 38px;
  width: 110px;
  border-radius: 10px;
  font-size: 22px;
  background-color: blue;
}



#login-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#register-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#login-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#register-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#charity-register-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#charity-register-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#volunteer-register-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#volunteer-register-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}


.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.form-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.form-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.form-input-element input,
.form-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.form-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-mid button {
	font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-mid .modal-charity-button {
	background-color: #319df6;
}

.modal-mid .modal-charity-button:hover {
	background-color: orange;
}

.modal-mid .modal-volunteer-button {
	background-color: #319df6;
}

.modal-mid .modal-volunteer-button:hover {
	background-color: orange;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}
/* post css */
.event , .posts-header {
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 3px 3px 5px 6px #ccc;
  /* display: inline-flex; */
  padding: 15px;
  width: 22%;
  margin-left: 40%;
  margin-top: 10px;
  font-size: 24px;
  /* margin-right: 50%; */
}
.posts-header{
  font-weight: bold;
  margin-top: 1%;
  border: 2px solid black;
}
.eventDetails {
  word-wrap: break-word;
}
.shortDescription{
  font-size: 18px;

}.action-button {
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}

.action-button:hover {
  background-color: #f9d2b2;
  border-color: #333;
  color: #333;
}

.modal-dialog {
  /* width: auto; */
  /* max-width: 600px; */
  /* width: 600px; */

  min-width: 40%;
  /* max-width: 40%; */
  /* min-width: 350px; */
  /* min-height: 300px; */
  min-height: 11%;
  margin: 40px auto;
  /* background-color: #3C493C; */
  /* color: #ACCE8E; */
  color: #000000;
  border-radius: 15px;
  border: 2px solid black;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#add-event-modal {
  position: fixed;
  top: 20%;
  /* bottom: 0; */
  left: 70%;
  /* right: 0; */
  z-index: 1010;
  overflow: scroll;
   /* background-color: rgba(0, 0, 0, 0.85); */
}

#add-event-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.post-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.post-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.post-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
  width: 100px;
  height: 75px;
  font-weight: bold;
  color: #000000;
  border: 2px solid black;

}

#modal-cancel {
  color: #ff0000;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}
